body {
  font-family: "Open Sans", sans-serif;
  margin: 30px 500px 30px 300px;
  width: auto;
}

a {
  text-decoration: none;
}

div {
  margin-left: 15px;
}

video,
table {
  margin-left: 20px;
}

table,
td,
th {
  border: 1px solid black;
}

table {
  width: 550px;
  border-spacing: 0;
}

th,
td {
  padding: 10px;
  text-align: center;
}

td {
  width: 100%;
}

th {
  width: 50px;
}


